<h1>DocumentFactory Pipeline</h1>


<div nz-row [nzGutter]="[4, 4]">
  <div nz-col nzSpan="4">

  </div>
  <div class="column" style="text-align: left;" nz-col nzSpan="8">

    <button style="margin: 4px;" nz-button nzType="primary" [disabled]="fileList.length === 0 || pipelining" (click)="Process($event)">
      {{ pipelining ? 'Pipelining...' : 'Run Pipeline' }}
    </button>
  </div>
  <div class="column" nz-col nzSpan="8">
  </div>
  <div nz-col nzSpan="4"></div>
</div>

<div nz-row [nzGutter]="[4, 4]">
  <div nz-col nzSpan="4">

  </div>
  <div class="column" nz-col nzSpan="8">
    Files
  </div>
  <div class="column" nz-col nzSpan="8">
    Pipeline
  </div>
  <div nz-col nzSpan="4"></div>
</div>

<div nz-row [nzGutter]="[4, 4]">
  <div nz-col nzSpan="4">

  </div>
  <div class="column" nz-col nzSpan="8">

    <nz-upload [(nzFileList)]="fileList" [nzMultiple]="true" [nzBeforeUpload]="beforeUpload">
      <br>
      <button nz-button>
        <nz-icon nzType="upload" />
        Select Files
      </button>
    </nz-upload>

  </div>
  <div style="border: 1px solid gray;" nz-col nzSpan="8">
    <!-- <wfic-acefield [(ngModel)]="pipeline" mode="json"></wfic-acefield> -->
    <nz-code-editor style="height: 600px" [(ngModel)]="pipeline" [nzEditorOption]="editorOptions"></nz-code-editor>
  </div>
  <div nz-col nzSpan="4"></div>
</div>